*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
    body{
        background-color:rgb(102, 55, 55);
    }
    main{
        background-color: rgb(83, 103, 194);
        width: 500px;
        margin: auto;
        padding: 10px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.164);
    }
